<!DOCTYPE html>
<html lang="en" class="fuelux">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="author" content="ExactTarget">
        <title>{{title}}</title>
        <script src="/bower_components/requirejs/require.js"></script>
        <script>
            require(["/js/app/main.js"], function(main) {
            	
            });
        </script>
        
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/lte_ie9.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>

        <div id="cornerLogo">
            <h1>The Improv Comedy Database</h1>
            <h2>ALPHA</h2>
        </div>
        
        <div id="pages">
            <div id="main">
                <h1>IMPROV DATABASE</h1>
                <nav id="topnav">
                    <div id="toolbar" class="pod">
                        <div id="gameTools" class="section">
                            <div class="btn">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="sub inner-shadow1">
                                <span>Game Database</span>
                                <div class="btn has-tooltip" title="Pick Random Game" id="btnRandomGame"><i class="fa fa-futbol-o"></i></div>
                                <div class="btn has-tooltip" title="Add Game" id="btnAddGame"><i class="fa fa-plus-circle"></i></div>
                            </div>
                        </div>
                        <!--
                        <div id="about" class="section">
                            <div class="btn">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="sub inner-shadow1">
                                <span>About</span>
                                <div class="btn has-tooltip" title="Pick Random Game" id="btnRandomGame"><i class="fa fa-futbol-o"></i></div>
                                <div class="btn has-tooltip" title="Add Game" id="btnAddGame"><i class="fa fa-plus-circle"></i></div>
                            </div>
                        </div>
                        -->
                    </div>
                    <div id="paging" class="pod">
                        <div id="pageindicator"><div class="inner-shadow1"></div></div>
                    </div>

                    <div id="gameBox" class="pod">
                        <div class="close inner-shadow1"><i class="fa fa-chevron-up"></i></div>
                        <!--
                        <div id="btnAddGame" class="btn has-tooltip" title="Add Game">
                            <span class="off">&#43</span>
                            <span class="on">&#8722;</span>
                        </div>
                        -->
                    </div>
                </nav>
                <div id="gameTable" class="pod"></div>
                <nav id="bottomnav">
                    <div id="pagesize" data-menu="pagesize_dropdown" class="pod dropdown-button btn"><span class="value">Fit Page</span> <span class="arrow-up pull-right"></span></div>
                    <div class="dropdown up shadow4" id="pagesize_dropdown">
                        <a href="#" class="dropdown-option btn" data-value="10">10 Games</a>
                        <a href="#" class="dropdown-option btn" data-value="25">25 Games</a>
                        <a href="#" class="dropdown-option btn" data-value="50">50 Games</a>
                        <a href="#" class="dropdown-option btn" data-value="0">Show All</a>
                        <a href="#" class="dropdown-option btn" data-value="auto">Fit Page</a>
                    </div>
                </nav>
                <div id="prevpage"><i class="fa fa-chevron-left"></i></div>
                <div id="nextpage"><i class="fa fa-chevron-right"></i></div>
            </div> <!-- end of #main -->
        </div>

        <script>
            var database = {{{data}}};
        </script>
    </body>
</html>
