
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0px);
    }
    10%, 50%, 90% {
        -webkit-transform: translateX(20px);
    }
    30%, 70% {
        -webkit-transform: translateX(-20px);
    }
}

@-webkit-keyframes bubble_in {
    0% {
        -webkit-transform: translateX(20px) scaleX(0) scaleY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px) scaleX(1) scaleY(1);
        opacity: 1;
    }
}
