<div class="text-content-page-wrapper about-changelog">
    <div class="text-content-page pod">
        <h2>Changelog</h2>
        <h3>or, Stuff Will Show Up Here Whenever There's Stuff to Report</h3>

        <p>Stuff will show up here whenever there's stuff to report. This application is currently in ALPHA.</p>

        <p><strong>0.3.1</strong> <br /> Whoopsies. This tiny update fixes a bug with the mobile layout where the page indicator at the top of the screen would be in the way when you try to open a game. Again, whoopsies.</p>
        
        <p><strong>0.3.0 - <em>Knowles</em></strong> July 17th, 2015 (<em>"Now with mobile!"</em>)<br /> The first major update to the Improv Database is packed with enhancements. The changes are, in no particular order, as follows:</p>
        <ol>
            <li>The site has a whole new color scheme. I am still not really into it, but it is <em>different</em>.</li>
            <li>Now with 100% more mobile! Opening the database on your phone no longer causes the universe to collapse in on itself - as much.</li>
            <li>A new filter page will help you filter games in the database. This has the added benefit of introducing a great new way for a ton of bugs to show up.</li>
            <li>Column headers will let you know when they are being filtered. They will still never let you know when you are not being a good boyfriend, choosing instead to leave passive aggressive notes around the house because I guess they expect me to be psychic or something.</li>
            <li>Performance across the database is still basically just the worst. Sorry.</li>
            <li>Mobile devices will now have a button to enable fullscreen mode, which is just like regular mode, but with like 5% more <em>screen-ey-ness</em>.</li>
            <li>A tooltip on the page indicator at the top of the database will tell you pretty much the same information that the indicator is already telling you, except in a cool new way that is prone to breaking constantly.</li>
            <li>Heroku, the server platform on which the Improv Database resides, has changed around the way you pay for their services. Currently the Database is hosted on Heroku's free tier, because I am a cheap-o-tron. This means the site may be slow and / or unresponsive.</li>
        </ol>
        <p>Please use the bug report / contact feature at the top of the site to report bugs, requests, complaints, or any other type of message you want to hurl at the creator of this application.</p>
        
        <p>0.2.0 - <em>Winehouse</em> March 26th, 2015 (<em>"Remember Web 2.0?"</em>)<br />This is the initial release of the application. It features a database of Improv Comedy games and an extremely limited user system.</p>
    </div>
</div>
