<div class="text-content-page-wrapper about-contact">
    <div class="text-content-page pod">
        
        <h2>Contact Us</h2>
        <p> </p>

        <p>Dear Proprietors of The Improv Comedy Database,</p>

        <p>I, the undersigned, on this the <strong class="day"></strong> day of <strong class="month"></strong>, <strong class="year"></strong>, hereby wish to contact you to
        <select name="wishto">
            <option>discuss an important matter</option>
            <option>complain</option>
            <option>inform you of an idea I have for improving this site</option>
            <option>inform you of my general opinions</option>
            <option>document a bug I found on this site</option>
            <option>send you some sort of spam</option>
            <option>document a period of harassment I received from you</option>
            <option>inform you of pending legal action against you</option>
            <option>lie down on your lap (I am a cat)</option>
        </select>. 
        This particular incident has caused me to
        <select name="caused">
            <option>waste valuable seconds of my life</option>
            <option>be frustrated, dammit</option>
            <option>contact you (obviously)</option>
            <option>evaluate my role in society</option>
            <option>gain unfathomable emotional wealth</option>
            <option>have 99 problems</options>
            <option>suffer severe humiliation and embarassment</option>
            <option>get uncontrollably poofy (I am a cat)</option>
        </select>.
        I am currently seeking
        <select name="seeking">
            <option>your response</option>
            <option>your aid</option>
            <option>your thoughts</option>
            <option>your momma</option>
            <option>medical and psychological attention</option>
            <option>only medical attention</option>
            <option>any kind of attention at all really</option>
            <option>your bank account info</option>
            <option>no reward</option>
            <option>something to kill (I am a cat)</option>
        </select>
        for this particular situation.</p>

        <p>To further elaborate on the incident in question, <br /><textarea name="gordon" rows="10"></textarea></p>

        <p>I hereby demand that you
        <select name="demand">
            <option>do something about this</option>
            <option>know how great you are</option>
            <option>cut it right out</option>
            <option>fix this problem</option>
            <option>do some sort of dance</option>
            <option>cease and desist in your action</option>
            <option>fix it fix it fix it fix it fix it</option>
            <option>feed me (I am a cat)</option>
        </select>
        immediately. To prove that I can send this message I hereby verify that I am a
        <select name="jingers">
            <option>robot</option>
            <option>human</option>
            <option>meat popsicle</option>
            <option>cat, for the last freaking time</option>
        </select>.
        </p>
        
        <div class="pull-right">
            <p>Sincerely,</p>
            
            <div id="contactSigOutput">The Undersigned</div>

            <p><input type="text" name="name" value="The Undersigned" /></p>
            <p><input type="text" name="email" placeholder="Email Address (optional)" /></p>

        </div>
        <div class="clear"></div>
        
        <p class="error">Sorry, no robots.</p>

        <p><button class="btn">Send</button></p>
    </div>
</div>
