<div class="text-content-page-wrapper about-credits">
    <div class="text-content-page pod">
        
        <h2>Site Credits</h2>
        <h3>or, Shauvon McGill Clamors for Attention</h3>

        <p>Created basically entirely by Shauvon McGill. Isn't that guy great?</p>

        <p>Some of the initial games in the database were collated from The Crazy Monkeys (R.I.P.), The Burpees (of Denison University), The Second City, The Improv Encyclopedia, and <a target="_blank" href="http://thespeakers-studio.com">The Speaker's Studio</a>, of Louisville, Kentucky.</p>

        <p>The Improv Comedy Database utilizes the following third party technologies:</p>

        <div class="third-party-logos">
            <a href="http://www.postgresql.org/" target="_blank"><img src="/images/third-party-logos/postgresql.png" /></a>
            <a href="https://github.com/" target="_blank"><img src="/images/third-party-logos/github.png" /></a>
            <a href="http://underscorejs.org/" target="_blank"><img src="/images/third-party-logos/underscore.png" /></a>
            <a href="http://backbonejs.org/" target="_blank"><img src="/images/third-party-logos/backbone.png" /></a>
            <a href="http://momentjs.com/" target="_blank"><img src="/images/third-party-logos/moment-js.png" /></a>
            <a href="http://requirejs.org/" target="_blank"><img src="/images/third-party-logos/requirejs.png" /></a>
            <a href="http://nodejs.org/" target="_blank"><img src="/images/third-party-logos/nodejs.svg" /></a>
            <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank" class="font-awesome"><i class="fa fa-flag"></i> Font Awesome</a>
            <a href="http://bower.io/" target="_blank"><img src="/images/third-party-logos/bower.png" /></a>
            <a href="http://www.adobe.com/" target="_blank"><img src="/images/third-party-logos/photo.png" /></a>
            <a href="http://jquery.com/" target="_blank"><img src="/images/third-party-logos/logo-jquery.png" /></a>

            <div class="clear"></div>
        </div>

        <p>Also these things, which aren't cool enough to have a logo:</p>

        <ul>
            <li><a href="https://github.com/requirejs/text" target="_blank">requirejs/text</a></li>
            <li><a href="https://github.com/nbubna/store" target="_blank">Store2</a></li>
        </ul>

        <p>Application hosting provided by <a href="http://heroku.com/" target="_blank">Heroku</a></p>

        <p>Domain hosting provided by <a href="https://www.bluehost.com/" target="_blank">Bluehost</a></p>

        <p>Shauvon is available for all your web design, digital, and interactive needs! <br />Contact him at smcgill (at) denyconformity (dot) com.</p>
        
        <div class="creative-commons">
            <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Improv Comedy Database</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.denyconformity.com" property="cc:attributionName" rel="cc:attributionURL">Shauvon McGill and Placeholder Productions</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
        </div>

        <div class="createdby">
            <a href="http://www.denyconformity.com" class="denyconformity">DenyConformity.com</a>
            <a href="http://www.denyconformity.com" class="placeholder">Placeholder Productions</a>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
