<div class="text-content-page-wrapper about-main">
    <div class="text-content-page pod">
        
        <h2>The Improv Comedy Database</h2>
        <h3>A Word From Our Benefactor</h3>

        <p>There are two things I really enjoy doing in this world, making websites and doing Improv comedy. Well, okay, there are three things, but playing with Lego isn't really relevant to this website. I have earned a pretty respectable living at my day job in the website mines, but I - like many others - have this . . . desire (compulsion?) to make people laugh at me (no, I don't mean with me). Improv comedy is great outlet for that bizarre need for a lot of reasons, but I haven't scraped this site up from the depths of the website mines just to make a case that you should be into it - the fact that you're here means you are, on some level, already pursuing Improv Comedy. What this application is intending on doing, though, is making Improv easier to do.</p>

        <p>A long time ago (only a few years, but that's a long time on the Internet), I was in an Improv Comedy Group and discovered that doing Improv has some Annoying Difficulties. Improv comedy people have invented tons of games to play, but it can be really hard to keep track of them all or pick one to play when you have a given number of people around. Also, how do you separate warm-up or exercise games from the ones you could do for an audience? Then, when you do finally get started, how do you get suggestions from the audience if you're just hanging out or practicing and there is no audience? Once you want to share this weird thing you do, how can you (the royal "you") connect with other weird people who like to do this weird thing that you like to do? Sure, none of these things are the end of the world (or without existing technological solutions already), but we live in the future - we don't have to settle for anything anymore.</p>

        <p>It turns out that computers are really good at a few things. Comedy? Not so much. Collating sets of data organized by various arbitrary metadata? Retrieving information based on a set of parameters? Connecting people with other people who have similar interests or motivations? Those things are kind of what computers were designed for (they can leave the comedy to us). So returning to that long Internet-time ago, I set out to create a web application that could make doing Improv Comedy easier. At the time, though, I thought it would be just super cool to make the app incredibly difficult to use for no reason and also never tell anybody about it. Great job, younger me.</p>

        <p>Anyway, much later (right now, in fact), I built a new version. You are viewing that new version right now. It has taken quite a bit of work down in those techno-mines to get all this together, but I think it will be worth it. Hopefully this application will help you improve your Improv (my spell-checker is just losing it right now). Whether you're a seasoned Improv veteran looking for a random game to play, a completely fresh, perhaps excited newcomer looking for some basics, or some other thing I can't think of because come on I'm not Hari Seldon, I want this application to help you get exactly what you need so you can get on to having people laugh at you (or with you, if you <em>insist</em>).</p>

        <p>If you have any questions, comments, thoughts, ideas, complaints, intrigues, gossips, recipes, musings, litigations, gifts, band name ideas, complicated theoretical formulas for the calculation of the advancement of human civilizationm, or something else you want to tell me, please use the "Contact" button up at the top of the page to send them my way. I really do intend for this to be the ultimate tool for Improv, so if there's any way at all that I can help make it better for you, let me know.</p>

        <p>Be excellent to each other, and party on, dudes.</p>

        <p>Shauvon McGill, proprietor. <br /> <a href="http://www.denyconformity.com" target="_blank">DenyConformity.com</a></p>
        
        <div class="creative-commons">
            <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Improv Comedy Database</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.denyconformity.com" property="cc:attributionName" rel="cc:attributionURL">Shauvon McGill and Placeholder Productions</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
        </div>

        <div class="createdby">
            <a href="http://www.denyconformity.com" class="denyconformity">DenyConformity.com</a>
            <a href="http://www.denyconformity.com" class="placeholder">Placeholder Productions</a>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
