<div class="text-content-page-wrapper about-changelog">
    <div class="text-content-page pod">
        <h2>Changelog</h2>
        <h3>or, Stuff Will Show Up Here Whenever There's Stuff to Report</h3>

        <p>Stuff will show up here whenever there's stuff to report. This application is currently in ALPHA.</p>
        
        <p><strong>0.1.0 - <em>Amy Winehouse</em></strong><br />This is the initial release of the application. It features a database of Improv Comedy games and an extremely limited user system.</p>
    </div>
</div>
