<div class="text-content-page-wrapper about-changelog">
    <div class="text-content-page pod">
        <h2>Changelog</h2>
        <h3>or, Stuff Will Show Up Here Whenever There's Stuff to Report</h3>

        <p>Stuff will show up here whenever there's stuff to report. This application is currently in ALPHA.</p>

        <p><strong>0.4.2</strong><br />
            I fixed a couple small bugs with the tag filter menu on the main database view.</p>

        <p><strong>0.4.1</strong><br />
        A minor hotfix that contains a couple really smoking hot fixes.</p>

        <p><strong>0.4.0 - <em>Brownstein</em></strong> September 30, 2016 <em>(It's Asynchronuts)</em><br />
        The first major release in over a year! I've been motivated to get back into this beast, and get back to work making it into the awesome tool I know it can be. It takes one to know one, am I right?</p>
        <ol>
            <li>I spilled my pumpkin-spice vitamin water all over the website. Oh noo.</li>
            <li>I fixed some bugs with the interface for adding and editing games. You can't access this interface, so really I'm just bragging.</li>
            <li>If you apply enough filters that you get no results, the worst that will happen now is that you'll get no results. Hey, it's better than the app crashing.</li>
            <li>Paragraphs in game descriptions will now stop crowding each other so much. I had a talk with them, and they are going to stop being so all up ons.</li>
            <li>The way notes are displayed is tweaked a bit. We're all super excited about it.</li>
            <li>Opening a game will change the URL, which means you can now link directly to a game or press the back button to close it.</li>
            <li>A link to this Github repository has been added to the credits page.</li>
            <li>Search actually works on mobile, now. Come on people, you gotta tell me when stuff has been broken for months!</li>
            <li>You have probably noticed the really cool new change - data loads asynchronously, now, which should make things a bit smoother.</li>
            <li>Say hello to the happy little blue smiley face that will be your comforting companion whenever you need to wait for stuff to happen. I'm open to suggestions for what to call her.</li>
            <li>Last, but not least, I have made the process of loading and rendering the data a bit faster. It's still not (and may never be) as fast as I really want it to be, but it should be noticeably smoother.</li>
            <li>I've been watching a lot of Project Runway lately.</li>
        </ol>

        <p><strong>0.3.4 - <em>Knowles</em></strong> February 2, 2016 <br />
        We're back on Heroku, because boy does AWS get expensive when you get off that free tier. I am officially losing money on this project! Still, $10 per month on Heroku is not as bad as $100 per month on AWS. Also:</p>
        <ol>
            <li>Selecting a random game when you are on the filters screen will now close the filters screen.</li>
            <li>Failing to log in will no longer break the site. Why are you even trying to log in, anyway? There are no user accounts and there's nothing to do as a logged in user yet.</li>
            <li>A handful of things have been fixed regarding things you can do as a logged in user.</li>
            <li>Removed Herobrine.</li>
        </ol>

        <p><strong>0.3.3 - <em>Knowles</em></strong> July 22nd, 2015 <br />
        The database is now hosted on an Amazon Web Services EC2 instance, instead of Heroku. Let's hope the bank stays decidedly un-broken.</p>

        <p><strong>0.3.2 - <em>Knowles</em></strong> July 19th, 2015 <br />
        I fixed a whole bunch of bugs! This round of fixes includes:</p>
        <ol>
            <li>Favicons! When we begin the first round of INTENSE VIRAL MARKETING (bookmarking the site at every public computer I can find), a little icon will now show up to represent the site. Try adding the site to your home screen or whatever on your phone!</li>
            <li>You can no longer remove tags from games without being logged in. Not that you could before, it's just that it looked like you could and I don't want everybody getting a false sense of power. You have no real power.</li>
            <li>The search box no longer breaks everything on mobile. It also should open and close a bit more smoothly.</li>
            <li>Touching outside a game on mobile to close it will now work every time, instead of just the first time. This might be a bug that I introduced with some of my other bug fixes, but I still want credit for fixing it.</li>
            <li>I have in my notes "active page button shouldn't have pointer icon." I don't know what that means. Let's call it fixed?</li>
            <li>When you are filtered down to only one page of games, the "next page" button will no longer work - unless you enjoyed cycling through the same page over and over for eternity, sort of like the endless cycle of repetitive meaninglessness that is our existence. They say the definition of insanity is trying the same thing expecting a different result - but what if I have resigned myself to living the same mediocre result every day for the rest of my life? What if I accept that I will just keep clicking this button over and over, watching the same handful of options cycling past again and again, knowing full well that things will never change? Well, too bad, because I disabled the button.</li>
            <li>The "next" and "previous" page buttons will stick to the side of the list of games, now, instead of the side of the Window. I don't have a joke about this, because I think it's already pretty hilarious. Maybe you had to be there.</li>
            <li>Closing a game will no longer leave it highlighted in the list of games. Your choices have no lasting mark and will be forgotten immediately.</li>
            <li>Using the filter dropdown menus on the desktop version of the app will now properly reset when you select the "Show all" options.</li>
            <li>Showing a game on the desktop no longer causes you to enter an endless cycle of re-rendering the list of games. This will do nothing to break you out of the endless cycle of tedium that is modern human existence, but maybe on some small level it will be a start. Eh, probably not. Life is meaningless and then we all die. We're all screwed, man.</li>
            <li>I have re-written how tooltips work, so maybe they won't break and just sit there on the page, refusing to disappear, taunting me in my failure for the rest of time, a tiny little monument to my own unwanted existence. Are we all just broken tooltips?</li>
        </ol>
        <p>I think maybe I should get some sleep, now.</p>

        <p><strong>0.3.1 - <em>Knowles</em></strong> July 17th, 2015 <br /> Whoopsies. This tiny update fixes a bug with the mobile layout where the page indicator at the top of the screen would be in the way when you try to open a game. Again, whoopsies.</p>

        <p><strong>0.3.0 - <em>Knowles</em></strong> July 17th, 2015 (<em>"Now with mobile!"</em>)<br /> The first major update to the Improv Database is packed with enhancements. The changes are, in no particular order, as follows:</p>
        <ol>
            <li>The site has a whole new color scheme. I am still not really into it, but it is <em>different</em>.</li>
            <li>Now with 100% more mobile! Opening the database on your phone no longer causes the universe to collapse in on itself - as much.</li>
            <li>A new filter page will help you filter games in the database. This has the added benefit of introducing a great new way for a ton of bugs to show up.</li>
            <li>Column headers will let you know when they are being filtered. They will still never let you know when you are not being a good boyfriend, choosing instead to leave passive aggressive notes around the house because I guess they expect me to be psychic or something.</li>
            <li>Performance across the database is still basically just the worst. Sorry.</li>
            <li>Mobile devices will now have a button to enable fullscreen mode, which is just like regular mode, but with like 5% more <em>screen-ey-ness</em>.</li>
            <li>A tooltip on the page indicator at the top of the database will tell you pretty much the same information that the indicator is already telling you, except in a cool new way that is prone to breaking constantly.</li>
            <li>Heroku, the server platform on which the Improv Database resides, has changed around the way you pay for their services. Currently the Database is hosted on Heroku's free tier, because I am a cheap-o-tron. This means the site may be slow and / or unresponsive.</li>
        </ol>
        <p>Please use the bug report / contact feature at the top of the site to report bugs, requests, complaints, or any other type of message you want to hurl at the creator of this application.</p>

        <p>0.2.0 - <em>Winehouse</em> March 26th, 2015 (<em>"Remember Web 2.0?"</em>)<br />This is the initial release of the application. It features a database of Improv Comedy games and an extremely limited user system.</p>
    </div>
</div>
