<div class="text-content-page-wrapper about-contact">
    <div class="text-content-page pod">
        
        <p>Dear Proprietors of The Improv Comedy Database,</p>

        <p>I, the undersigned, on this the <strong class="day"></strong> day of <strong class="month"></strong>, <strong class="year"></strong>, hereby wish to contact you to [document a period of harassment I received from you]. This particular incident has caused me [to suffer severe humiliation and embarassment]. I am currently [seeking medical and psychological attention] for this particular situation.</p>

        <p>To further elaborate on the incident in question, <br /><textarea rows="10"></textarea></p>

        <p>I hereby [demand that you cease and desist in your action].</p>

        <p>Sincerely, <br /><img src="/images/theundersigned.png" /> <br /> [The Undersigned]</p>
        
        <p><button class="btn">Send</button> <br /> (A message will be sent to the people in charge, and they will respond to you promptly if necessary.)</p>
    </div>
</div>
