<h5><%- mainName %></h5>

<div class="scroll-area">
    <% if (altNamesShow) { %>
    <a class="altNameLink" href="#"><%- nameCount %> alternate name<% if (namePlural) { %>s<% } %></a>
    <% } else { %>
        <% if (canAddName) { %>
        <a class="altNameLink" href="#">Propose alternate name</a>
        <% } %>
    <% } %>
    <div class="altNames <% if (!canVoteName) { %>noVoting<% } %>">
        <a href="#" class="close">&times;</a>
        <% if (altNamesShow) { %>
            <label>Known Aliases:</label>
            <% _.each(altNames, function (name) { %>
            <div data-nameid="<%- name.attributes.NameID %>">
                <%- name.attributes.Name %> <% if (canVoteName) { %><a class="weight weightUp">(+<%- name.attributes.Weight %>)</a><% } %>
            </div>
            <% }) %>
            <% if (canAddName) { %>
            <a href="#" class="addName">Add alternate name</a>
            <% } %>
        <% } else { %>
            <% if (canAddName) { %>
            <label>What do you call this, then?</label>
            <% } %>
        <% } %>
        
        <% if (canAddName) { %>
        <input name="alternateName" <% if (altNamesShow) { %>style="display: none"<% } %> />
        <a href="#" <% if (altNamesShow) { %>style="display: none"<% } %> class="alternateNameSubmit">Save</a>
        <% } %>
    </div>

    <div>
        <p><%= Description %></p>
    </div>

    <div id="duration_dropdown">
        <!--<label>Duration:</label>-->
        <h5 title="<%- durationDescription %>" class="has-tooltip"><i class="fa fa-clock-o"></i> <%- durationName %></h5>
        <% if (canEdit) { %>
        <a href="#" class="edit">Change...</a>
        <% } %>
    </div>

    <div id="playerCount_dropdown">
        <!--<label>Player Count:</label>-->
        <h5 title="<%- playerCountDescription %>" class="has-tooltip"><i class="fa fa-group"></i> <%- playerCountName %></h5>
        <% if (canEdit) { %>
        <a href="#" class="edit">Change...</a>
        <% } %>
    </div>

    <div id="tags">
    </div>

    <div class="btn pull-right hide" id="saveItUp">save</div>
    
    <div class="notes">
        <!-- <label>Notes:</label> -->
        <i class="fa fa-comments"></i>
        <% if (hasNotes) { %>
        <a href="#" class="showNotes">Show the <%- noteCount %> note<% if (notePlural) { %>s<% } %> about this game</a>
        <div class="notelist">
        <% _.each(notes, function (note) { %>
            <div class="note">
                <p>
                <% if (note.attributes.TagID) { %>
                <i class="fa fa-tag"></i>
                <% } else if (note.attributes.DurationID) { %>
                <i class="fa fa-clock-o"></i>
                <% } else if (note.attributes.PlayerCountID) { %>
                <i class="fa fa-group"></i>
                <% } else if (note.attributes.GameID) { %>
                <i class="fa fa-futbol-o"></i>
                <% } else { %>
                <i class="fa fa-comment-o"></i>
                <% } %>
                <%= note.attributes.Description %></p>
                <div class="noteSig">Regarding <%- note.regarding %></div>
                <div class="noteSig"><%- note.attributes.AddedFirstName %> <%- note.attributes.AddedLastName %> - <%- note.time %></div>
            </div>
        <% }) %>
        <% if (canAddNotes) { %>
        <a href="#" class="addNoteLink">Add Note</a>
        <% } %>
        </div>
        <% } else { %>
        <span class="showNotes">Nothing has been said.</span>
        <% if (canAddNotes) { %>
        <a href="#" class="addNoteLink">Add Note</a>
        <% } %>
        <% } %>

        <% if (canAddNotes) { %>
        <div class="addNote">
            <textarea name="Note" rows="5"></textarea>
            <a href="#" class="saveNote">Save</a>
        </div>
        <% } %>
    </div>
    
    <div class="clear"></div>
</div>

