<h5>{{mainName}}</h5>

<div>
    <p>{{Description}}</p>
</div>


<div id="duration_dropdown">
    <label>Duration:</label>
    <h5 title="{{durationDescription}}" class="has-tooltip">{{durationName}}</h5>
    <a href="#" class="edit">Change...</a>
</div>

<div id="playerCount_dropdown">
    <label>Player Count:</label>
    <h5 title="{{playerCountDescription}}" class="has-tooltip">{{playerCountName}}</h5>
    <a href="#" class="edit">Change...</a>
</div>

<div id="tags">
</div>

<div class="btn pull-right hide" id="saveItUp">save</div>
<div class="clear"></div>

