<div class="<% if (!full) { %>dropdown left shadow4<% } %>" id="tags_filter" data-button="tags_filter_toggle">

    <label><i class="fa fa-tags"></i> Tags</label>

    <% if (full) { %>
    <div class="accordion filter-selections">

        <div class="accordion-body">
    <% } %>
        
        <div class="taginput"></div>

        <!-- <label>Available Tags:</label> -->
        <div class="taglist">
        <% _.each(collection.models, function (model) { %>
            <span class="tag" data-id="<%- model.id %>" data-weight="<%- window.router.tagGames.where({ TagID: model.id }).length %>"><%- model.attributes.Name %></span>
        <% }) %>
            <span class="clear"></span>
        </div>

    <% if (full) { %>
        </div>
        <div class="accordion-toggle filter-button">
            <em class="closed">+ Add filter</em>
            <em class="open">Done</em>
        </div>

    </div>
    <% } %>

</div>
