<form>
    <div>
        <label>Name:</label>
        <input type="text" name="Name" />
    </div>
    <div>
        <div class="spanhalf">
            <label>Min {{attr}}:</label>
            <input type="text" name="Min" />
        </div>
        <div class="spanhalf">
            <label>Max {{attr}}:</label>
            <input type="text" name="Max" />
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <label>Description:</label>
        <textarea name="Description" rows="5"></textarea>
    </div>

    <div class="btn pull-right" id="saveNew_{{id}}">add</div>
    <div class="clear"></div>
</form>
