<div class="text-content-page-wrapper user-login">
    <div class="text-content-page pod">
        
        <h2>Log In</h2>
        
        <form name="login">
            <p>Email:<br />
            <input type="text" name="email" />
            </p>

            <p>Password:<br />
            <input type="password" name="password" />
            </p>

            <p class="error"></p>

            <div class="btn pull-right" id="btnLogin"><em>Go!</em></div>
        </form>

    </div>
</div>
