<div class="text-content-page-wrapper user-main">
    <div class="text-content-page pod">
        
        <h2>Your Account</h2>

        <form name="editAccount" id="editAccount">

            <p>Email *<br /><input type="text" name="Email" class="required" value="<%- Email %>" /></p>
            
            <div class="spanhalf">
                <p>First Name *<br /><input type="text" class="required" name="FirstName" value="<%- FirstName %>" /></p>
            </div>
            
            <div class="spanhalf">
                <p>Last Name *<br /><input type="text" class="required" name="LastName" value="<%- LastName %>" /></p>
            </div>

            <p>
                Gender<br />
                <div class="genderoptions">
                    <div class="onecolumn pull-left" data-gender="M">
                        <i class="fa <% if (Gender === 'M') { %>fa-dot-circle-o<% } else { %>fa-circle-o<% } %>"></i> <span>Male</span>
                    </div>
                    <div class="onecolumn pull-left" data-gender="F">
                        <i class="fa <% if (Gender === 'F') { %>fa-dot-circle-o<% } else { %>fa-circle-o<% } %>"></i> <span>Female</span>
                    </div>
                    <div class="onecolumn pull-left" data-gender="O">
                        <i class="fa <% if (Gender === 'O') { %>fa-dot-circle-o<% } else { %>fa-circle-o<% } %>"></i> <span>None of your business</span>
                    </div>
                </div>
                <input type="hidden" name="Gender" value="<%- Gender %>" />
            </p>

            <p>URL <br /><input type="text" name="URL" value="<%- URL %>" /></p>

            <p>Description <br /><textarea name="Description"><%- Description %></textarea></p>
            
            <p>Leave the password blank if you don't want to change it.</p>

            <div class="spanhalf">
                Password
                <input type="password" name="Password" />
            </div>
            
            <div class="spanhalf">
                Confirm Password
                <input type="password" name="confirmpassword" />
            </div>
            
            <div class="clear"></div>

            <p class="error"></p>
            <p class="success"></p>
            
            <p></p>

            <p><div class="btn pull-right save-user">Save</div> <div class="clear"></div></p>

        </form>

    </div>
</div>
